@import '../global';

$color: mix(black, white, 86%);

:host {

  > div {
    display: block;
    position: fixed;
    z-index: 9999;
    user-select: none;
    cursor: move;
    background-color: $color;
    padding: 1ex 1em;
    font-family: $font;
    color: $white;
  }
}
