@import '../global';

$color: mix(black, white, 86%);

:host {
  display: flex;
  position: fixed;
  justify-content: center;
  overflow: visible;
  width: 0;

  > div {
    display: block;
    z-index: 9999;
    user-select: none;
    cursor: move;
    background-color: $color;
    padding: 1ex 1em;
    font-family: $font;
    color: $white;
  }
}
