<div class="main-info" [routerLink]="['project/' + project._id]">
  <div class="avatar">
    <grf-jdenticon [plaintext]="project?.name"></grf-jdenticon>
  </div>
  <div class="title-and-creator">
    <div class="title">{{project?.name}}</div>
    <div class="creator">
      <!--<div class="name">{{project?.creator?.name}}</div>-->
      <div class="handle">@{{project?.creatorId.displayName}}</div>
    </div>
  </div>
</div>

<div class="description">{{project?.description}}</div>

<ul class="tags">
  <li *ngFor="let tag of project?.tags">{{tag}}</li>
</ul>

<div class="additional-info">
  <div class="badge">
    <div class="icon"><i class="fa fa-user"></i></div>
    <div class="number">{{project?.numberOfPeopleOnline}}</div>
  </div>
  <div class="badge">
    <div class="icon"><i class="fa fa-thumbs-o-up"></i></div>
    <div class="number">{{project?.numberOfLikes | percentage : (project?.numberOfLikes + project?.numberOfDislikes)}}</div>
  </div>
  <div class="badge">
    <div class="icon"><i class="fa fa-thumbs-o-down"></i></div>
    <div class="number">{{project?.numberOfDislikes | percentage : (project?.numberOfLikes + project?.numberOfDislikes)}}</div>
  </div>
</div>
