<div class="card">

  <div class="header">
    <div class="background"></div>
    <div class="logo"></div>
  </div>

  <div class="content">
    <ul>
      <li class="facebook" (click)="facebookLogin()">
        <div class="icon"><i class="fa fa-facebook"></i></div>
        <div class="name"><span>Facebook</span></div>
      </li>
      <li class="twitter" (click)="twitterLogin()">
        <div class="icon"><i class="fa fa-twitter"></i></div>
        <div class="name"><span>Twitter</span></div>
      </li>
      <li class="google" (click)="googleLogin()">
        <div class="icon"><i class="fa fa-google"></i></div>
        <div class="name"><span>Google</span></div>
      </li>
    </ul>
  </div>

</div>
