:host {
  display: flex;
  flex-direction: column;

  main {
    position: relative;

    ul {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      margin: 0;
      margin-top: 12px;
      padding: 12px;
      box-sizing: border-box;
      width: calc(100% - 332px);

      li:not(:last-child) {
        margin-bottom: 24px;
      }
    }

    aside {
      width: 300px;
      position: absolute;
      top: 16px;
      right: 16px;

      hr {
        width: 100%;
      }

      form {
        display: flex;
        flex-direction: column;

        div {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}
