<grf-header [isProjectViewMode]="false"></grf-header>

<main>
  <ul>
    <li *ngFor="let project of projects$ | async">
      <grf-project-card [project]="project"></grf-project-card>
    </li>
  </ul>

  <aside>
    <form [formGroup]="queryForm">

      <div formGroupName="searchBy">
        <label class="input-text">
          <span>Search query</span>
          <input type="text" formControlName="searchQuery">
        </label>

        <label>
          <input type="checkbox" formControlName="isCreatedByProfessor">
          <span>by professor</span>
        </label>

        <label>
          <input type="checkbox" formControlName="isWithPeopleOnline">
          <span>with people online</span>
        </label>
      </div>

      <hr>

      <label>
        <input type="radio" value="people" formControlName="orderBy">
        <span>number of people online</span>
      </label>

      <label>
        <input type="radio" value="likes" formControlName="orderBy">
        <span>percentage of likes</span>
      </label>

      <label>
        <input type="radio" value="name" formControlName="orderBy">
        <span>name</span>
      </label>

    </form>
    <!--<button [routerLink]="['room']">Nova soba</button>-->
    <button (click)="createNewRoom()">New room</button>
  </aside>
</main>
