@import '../global';

:host {
  font-family: $font;
  display: block;

  table {

    thead {

      tr {

        th {
          text-align: left;
        }
      }
    }

    tbody {

      tr {

        td {
          height: 24px;
          vertical-align: text-bottom;
        }

        td:first-child {
          font-family: $font-monospace;
        }
      }
    }
  }
}
