<grf-header [isProjectViewMode]="true"></grf-header>

<main>

  <template #renamePopupOutlet></template>

  <grf-toolbar [currentSelected]="chooseTool$ | async"
               (currentSelectedChange)="chooseTool$.next($event)"
  ></grf-toolbar>

  <div id="graph">
    <grf-controls
      (stateNumberChange)="updateStateNumber($event)"></grf-controls>

    <div class="bfs">
      <grf-graph [nodes]="(service.currentNormalizedState$ | async)?.nodes"
                 [edges]="(service.currentNormalizedState$ | async)?.edges"
                 (graphClick)="click$.next($event)"
      >
      </grf-graph>
    </div>

  </div>

  <grf-sidebar></grf-sidebar>

</main>

<template #toastOutlet></template>
