<grf-header></grf-header>

<main>

  <template #renamePopupOutlet></template>

  <grf-toolbar [currentSelected]="chooseTool$ | async"
               (currentSelectedChange)="chooseTool$.next($event)"
  ></grf-toolbar>

  <div id="graph">
    <grf-controls (stateNumberChange)="breadthFirstSearch.updateStateNumber($event)"></grf-controls>
    <grf-breadth-first-search #breadthFirstSearch
                              [graph]="graph"
                              [root]="root"
                              (graphClick)="click$.next($event)"
    ></grf-breadth-first-search>
  </div>

  <grf-sidebar></grf-sidebar>

</main>
