<grf-header></grf-header>

<main>

  <grf-toolbar [currentSelected]="chooseTool$ | async"
               (currentSelectedChange)="chooseTool$.next($event)"
  ></grf-toolbar>

  <div id="graph">
    <grf-controls (stateNumberChange)="search.updateStateNumber($event)"></grf-controls>
    <grf-breadth-first-search #search
                              [graph]="graph"
                              [root]="root"
                              (click)="click$.next({x: $event.offsetX, y: $event.offsetY})"
    ></grf-breadth-first-search>
  </div>

  <grf-sidebar></grf-sidebar>

</main>
