@import '../../global';

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: .6em;
  max-width: 27px;

  span {
    display: inline-block;
    color: rgba(white, .5);

    &.icon {
      color: rgba(white, .3);
      font-size: 3em;
    }
  }
}
