:host {
  display: block;

  div {
    position: fixed;
    z-index: 10;
    top: 10px;
    left: 10px;
  }

  grf-array {
    position: absolute;
    bottom: 36px;
    right: 36px;
  }

  grf-graph {
    height: 100%;
  }
}
