<vgl-vis-graph [options]="{}">
  <vgl-node *ngFor="let node of states[currentStateNumber].nodes"
            [options]="node"
  ></vgl-node>
  <vgl-edge *ngFor="let edge of states[currentStateNumber].edges"
            [id]="edge.label"
            [from]="edge.from"
            [to]="edge.to"
  ></vgl-edge>
</vgl-vis-graph>

<div>
  <button (click)="decCurrentStateNumber()">Prev</button>
  <span>{{currentStateNumber}}</span>
  <button (click)="incCurrentStateNumber()">Next</button>
</div>

<pre>{{states | json}}</pre>
