<grf-array grfQueue
           class="queue"
           [array]="states[stateNumber].queue"
           [accentColor]="states[stateNumber].accentColor"
           [primaryColor]="states[stateNumber].primaryColor"
           [secondaryColor]="states[stateNumber].secondaryColor"
></grf-array>

<grf-array grfQueue
           class="solution"
           [array]="states[stateNumber].solution"
           [accentColor]="states[stateNumber].accentColor"
           [primaryColor]="states[stateNumber].primaryColor"
           [secondaryColor]="states[stateNumber].secondaryColor"
></grf-array>

<grf-graph [nodes]="states[stateNumber].nodes"
           [edges]="states[stateNumber].edges"
>
</grf-graph>
