@import '../../global';

:host {
  border-radius: 6px;
  background-color: get-color('foreground');
  box-shadow: 0 2px 4px 1px rgba(black, .1);
  padding: 16px 24px;
  display: flex;

  > *:not(:last-child) {
    margin-right: 12px;
  }
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  color: $white;
  font-weight: 700;
  cursor: pointer;

  &:hover {
    color: get-color('accent');
  }

  &:focus {
    color: whiten(get-color('accent'));
  }
}

span {
  display: block;
  color: rgba(white, .4);
  font-family: $font;
  font-size: .8em;
}
