@import '../_global.scss';

.algorithm-with-line-numbers {
  display: flex;
  position: relative;
  font-size: 1.2em;

  .line-number-indicator {
    width: 3ex;
    height: 3ex;
    line-height: 3ex;
    text-align: center;
    border-radius: 50%;
    color: get-color('accent');
    position: absolute;
    left: -3ex;
    top: 0;
    transition: top .3s cubic-bezier(.18, .63, .55, 1.34);
  }

  .line-numbers {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: rgba(black, .2);
    font-family: monospace;
    font-weight: bold;
    line-height: 3ex;
    height: 3ex;
    width: 3ex;
    padding-right: .5em;
    text-align: center;
  }

  pre {
    margin: 0;
    padding: 0;

    code {
      line-height: 3ex;
      color: $black;

      span {
        border-bottom: dotted 2px rgba(get-color('primary'), .8);
        cursor: pointer;

        &:hover {
          color: get-color('accent');
          border-bottom: dotted 2px rgba(get-color('accent'), .95);
        }
      }
    }
  }
}
