<div #box class="algorithm-with-line-numbers">
  <div class="line-number-indicator"
       [style.top]="lineNumber$ | async | lineNumberStyle : box : 18"
  >
    ➡
  </div>
  <div class="line-numbers">
    <span *ngFor="let i of 19 | orderedArray | slice : 1">{{i}}</span>
  </div>
  <pre><code>function <b>BreadthFirst</b>(graph, root) {{'{'}}
  let <span #visited
            (click)="visitedOpen.next(!visitedOpen.getValue())">solution</span> = [];
  let <span #currentNode>queue</span> = new Queue();
  queue.enqueue(root);
  let visited = new Set();
  visited.add(root);
  while(!queue.isEmpty) {{'{'}}
    let currentNode = queue.deque();
    let neighbors = graph.neighbors(currentNode);
    visited.push(currentNode);
    neighbors
      .filter(neighbor => !visited.has(neighbor))
      .filter(neighbor => !queue.has(neighbor))
      .forEach(neighbor => queue.enqueue(neighbor));
    solution.push(currentNode);
  {{'}'}}
  return solution;
{{'}'}}</code></pre>
</div>

<grf-annotation *ngIf="visitedOpen | async" [algorithm]="box" [snippet]="visited">
  <grf-array [array]="varSolution$ | async" [highlightedLetters]="['C']"></grf-array>
</grf-annotation>
