@import '../../node_modules/sass-material-colors/sass/sass-material-colors';

$header-height: 80px;
$toolbar-width: $header-height;
$sidebar-width: 560px;

$font: Roboto, sans-serif;
$font-monospace: "Overpass Mono", monospace;

$color-scheme-1: (
  "primary": #76bed0,
  "secondary": #f7cb15,
  "accent": #f55d3e,
  "foreground": #878e88,
  "background": #ffffff,
);
$color-scheme-2: (
  'primary': #4ecdc4,
  'secondary': #134074,
  'accent': #ff6b6b,
  'foreground': #292f36,
  'background': #ffffff,
);

$color-scheme: $color-scheme-2;

@function get-color($key: 'primary', $color-scheme: $color-scheme) {
  @if (index(('primary' 'secondary' 'accent' 'foreground' 'background'), $key)) {
    @return map-get($color-scheme, $key);
  } @else {
    @error 'No such key #{$key}. Maybe a typo?';
  }
}

@function whiten($color, $percentage: 20%) {
  @return mix(white, $color, $percentage);
}

@function blacken($color, $percentage: 20%) {
  @return mix(black, $color, $percentage);
}

$white: rgba(white, .86);
$black: rgba(black, .86);

$color-facebook: #3b5999;
$color-twitter: #55acee;
$color-google-plus: #dd4b39;

$header-color: get-color('secondary');

// Utils

@mixin force-width($size) {
  width: $size;
  min-width: $size;
  max-width: $size;
}

@mixin force-height($size) {
  height: $size;
  min-height: $size;
  max-height: $size;
}

@mixin force-square($size) {
  @include force-width($size);
  @include force-height($size);
}

body {
  background: #e2e1e0;
  text-align: center;
}

@mixin z-depth-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

@mixin z-depth-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

@mixin z-depth-3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

@mixin z-depth-4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

@mixin z-depth-5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

@function get-color-strings() {
  @return 'primary' 'secondary' 'accent' 'foreground' 'background';
}

@mixin all-background-colors() {
  @each $color in get-color-strings() {
    &.#{$color} {
      background-color: get-color($color);
    }
  }
}

@mixin all-border-colors($border-style: solid, $border-width: 1px) {
  @each $color in get-color-strings() {
    &.#{$color} {
      border: $border-style $border-width get-color($color);
    }
  }
}

@mixin all-text-colors() {
  @each $color in get-color-strings() {
    &.#{$color} {
      color: get-color($color);
    }
  }
}
