@import '../../global';

:host {
  display: block;
  background-color: white;
  padding: 1em;
  border-radius: .33em;
  min-width: 500px;
  color: $black;
  font-family: $font;
}

footer {
  margin-top: 1em;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
