<grf-tabs [initialTabIndex]="1">
  <grf-tab title="Chat" icon="comments">
    <grf-chat>
      <grf-chat-message *ngFor="let message of dummyMessages"
                        [info]="message"
      ></grf-chat-message>
    </grf-chat>
  </grf-tab>
  <grf-tab title="Matrix" icon="table">
    <grf-matrix [data]="matrixData"
                [colLabels]="letters"
                [rowLabels]="letters"
    ></grf-matrix>
  </grf-tab>
  <grf-tab title="Algorithm" icon="cogs">
    algo settings here
  </grf-tab>
</grf-tabs>
