@import '../global';

:host {
  display: flex;
}

ul {
  list-style-type: none;
  display: flex;
  font-family: $font;
  margin: 12px;
  padding: 12px;
  border: solid 1px rgba(black, .4);
  $size: 48px;

  li {
    width: $size + 12px;
    height: $size;
    overflow: visible;
    position: relative;

    span {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: $size - 2px; // because of border
      height: $size - 2px; // because of border
      border: solid 1px #afafaf;
      box-shadow: 0 3px 3px 0 rgba(black, .12);
      background-color: #f7f7f7;
      border-radius: 50%;
      position: absolute;
      right: 0;
      transition: all .4s ease;
    }

    @each $color in ('accent' 'primary' 'secondary') {
      &.#{unquote($color)} span {
        background-color: get-color($color);
        border: solid 1px mix(black, get-color($color), 40%);
      }
    }
  }
}

:host {

  &.queue {

    ul {
      flex-direction: row;
      border-left: none;
      border-right: none;
      padding-left: 0;
    }
  }

  &.stack {

    ul {
      flex-direction: column-reverse;
      border-top: none;
      padding-top: 0;
    }
  }
}

