<!--<grf-file-list (fileSelect)="onFileSelect($event)">-->
  <!--<grf-folder [name]="folder.name">-->
    <!--<grf-file *ngFor="let file of folder.graph"-->
              <!--[lastChange]="file.lastChange"-->
              <!--[id]="file.id">-->
      <!--{{file.name}}-->
    <!--</grf-file>-->
  <!--</grf-folder>-->
<!--</grf-file-list>-->

<footer>

  <label>
    <span>Filename:</span>
    <input type="text" [(ngModel)]="filename">
  </label>

  <button (click)="onSave()">Save!</button>

</footer>

