<div class="description folder-description"
     [class.open]="isOpen"
     (click)="toggle()">

  <div class="icon">
    <i *ngIf="!isOpen" class="fa fa-folder-o"></i>
    <i *ngIf="isOpen" class="fa fa-folder-open"></i>
  </div>

  <div class="name">
    <span>{{name}}</span>
  </div>

  <div class="number-of-files">
    <span>{{fileComponents.length}}</span>
  </div>

  <div class="last-change">
    <span>{{lastChange | date : 'medium'}}</span>
  </div>

</div>


<div class="content" *ngIf="isOpen">
  <ng-content select="grf-file"></ng-content>
</div>
