<div id="logo" (click)="toHome()"></div>


<ng-container *ngIf="isProjectViewMode">
  <div id="current-project-info">
    <div id="project-image">
      <grf-jdenticon [plaintext]="projectTitle"></grf-jdenticon>
    </div>

    <div id="project-name">

      <div class="col project-title" *ngIf="!isTitleInEditMode">
        <span class="text">{{projectTitle}}</span>
        <span class="icon edit"
              *ngIf="(isMaster$ | async)"
              (click)="openTitleEditMode()"
        >
          <i class="fa fa-pencil"></i>
        </span>
      </div>

      <div class="col project-title" *ngIf="isTitleInEditMode">
        <input #titleInput type="text" [(ngModel)]="newTitle" (keyup.esc)="discardTitle()"
               (keyup.enter)="submitTitle()">
        <span class="icon edit"
              *ngIf="(isMaster$ | async)"
              (click)="submitTitle()"
        >
          <i class="fa fa-check"></i>
        </span>
      </div>

      <div class="col project-description" *ngIf="!isDescriptionInEditMode">
        <span class="text">{{projectDescription}}</span>
        <span class="icon edit"
              *ngIf="(isMaster$ | async)"
              (click)="openDescriptionEditMode()"
        >
          <i class="fa fa-pencil"></i>
        </span>
      </div>

      <div class="col project-description" *ngIf="isDescriptionInEditMode">
        <input #descriptionInput type="text" [(ngModel)]="newDescription"
               (keyup.esc)="discardDescription()"
               (keyup.enter)="submitDescription()">
        <span class="icon edit"
              *ngIf="(isMaster$ | async)"
              (click)="submitDescription()"
        >
          <i class="fa fa-check"></i>
        </span>
      </div>

    </div>

  </div>

  <div class="flex-spacer"></div>

</ng-container>

<div id="username-info" *ngIf="displayName != ''">
  <div class="col display-name" *ngIf="!isNameInEditMode">
    <span class="text">{{displayName}}</span>
    <span class="icon edit"
          (click)="openNameEditMode()"
    >
          <i class="fa fa-pencil"></i>
        </span>
  </div>

  <div class="col display-name" *ngIf="isNameInEditMode">
    <input #nameInput type="text" [(ngModel)]="newName"
           (keyup.esc)="discardName()"
           (keyup.enter)="submitName()">
    <span class="icon edit" (click)="submitName()"><i class="fa fa-check"></i></span>
  </div>

  <span class="icon"><i class="fa fa-sign-out" (click)="logout()"></i></span>

  <div id="profile-image">
    <grf-jdenticon [plaintext]="displayName"></grf-jdenticon>
  </div>
</div>

<ng-container *ngIf="!isProjectViewMode">

</ng-container>
