<form novalidate [formGroup]="form">
  <label>
    <input type="radio" value="bfs" formControlName="algorithm">
    <span>Breadth First Search</span>
  </label>
  <label>
    <input type="radio" value="dfs" formControlName="algorithm">
    <span>Depth First Search</span>
  </label>
  <div formGroupName="options">
    <label *ngFor="let node of nodes">
      <input type="radio" [value]="node" formControlName="root">
      <span>{{node}}</span>
    </label>
  </div>
</form>

<pre>{{form.value | json}}</pre>
