@import '../../global';

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

ul.tab-controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-top: solid 1px rgba(black, .08);

  li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: get-color('secondary');
    font-size: 1.2em;
    cursor: pointer;
    width: 100%;

    i {
      font-size: 1.1em;
    }

    span {
      display: inline-block;
      margin-top: 1ex;
      font-size: 0.8em;
      font-family: $font;
      font-weight: 300;
    }

    &:hover {

    }

    &.current {
      color: get-color('accent');
      font-weight: 500;
    }
  }
}
