<div [class]="'debug ' + data?.kind + ' ' + data?.color" *ngIf="data?.value">
  <ng-container *ngIf="!data.kind.includes('-')">
    <div class="outer">
      <div class="inner">
        {{data.value}}
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="data.kind.includes('-')">
    <div class="outer left">
      <div class="inner">{{data.value[0]}}</div>
    </div>
    <div class="outer right">
      <div class="inner" *ngIf="data.value[1] != 'Infinity'">{{data.value[1]}}</div>
      <div class="inner" *ngIf="data.value[1] == 'Infinity'">∞</div>
      <div *ngIf="data.value[1] == null">∅</div>
    </div>
  </ng-container>
</div>


<div class="null" *ngIf="data?.value === null">null</div>
<div class="null" *ngIf="data?.value === undefined">undefined</div>

