:host {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(black, .5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;

  .dialog-content {
  }
}
