@import '../../global';

$marble-size: 18px;
$marble-between: $marble-size / 3;

:host {

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-right: -$marble-between;
  }

  li {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: $marble-size;
    height: $marble-size;
    padding-right: $marble-between;

    .outer {
      display: inline-flex;
      background-color: rgba(black, .06);
      border: solid 1px rgba(black, .4);
      color: $black;
      border-radius: 50%;
      font-size: 12px;
      width: $marble-size;
      height: $marble-size;
      line-height: $marble-size;
      justify-content: center;
      align-items: center;

      .inner {
        display: inline-block;
      }
    }
  }
}
