<div class="buttons">
  <button (click)="addNode()">Add node</button>
  <button (click)="toggleEditWeightMode()">Edit weights</button>
</div>

<div class="matrix">
  <table cellspacing="0" cellpadding="0">
    <tr
      *ngFor="let row of data |  matrixWithLabels : labels : labels; let rowInd = index; trackBy: trackByIndex">
      <td *ngFor="let cell of row; let colInd = index; trackBy: trackByIndex"
          (click)="!isEditWeightMode && toggleEdge(rowInd - 1, colInd - 1)"
          (mouseenter)="highlight(rowInd, colInd)"
          (mouseleave)="highlight(-1, -1)"
          [class.highlight]="rowInd == highlightedIndexes[0] || colInd == highlightedIndexes[1]"
          [class.this]="rowInd == highlightedIndexes[0] && colInd == highlightedIndexes[1]"
          [class.mirror]="rowInd == highlightedIndexes[1] && colInd == highlightedIndexes[0]"
          [class.no-edge]="cell == 0"
      >

        <span *ngIf="rowInd == 0 || colInd == 0 || !isEditWeightMode">
          {{cell == 0 ? '∞' : cell}}
        </span>

        <input *ngIf="!(rowInd == 0 || colInd == 0 || !isEditWeightMode)"
               type="number"
               [ngModel]="cell + 0"
               (ngModelChange)="setWeight(rowInd - 1, colInd - 1, $event)">

      </td>
    </tr>
  </table>
</div>
