@import "../global";

:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

@mixin td-label {
  color: rgba(black, .5);
  font-size: .8em;
  cursor: default;
}

$size: 30px;

.buttons {
  display: flex;
  font-family: $font;
  width: 100%;
  margin-bottom: 1em;

  span {
    margin-right: .5em;
  }

  .group {

    button {
      outline: none;
      border: none;
      font-family: $font;
      text-transform: uppercase;
      padding: 1ex 2ex;
      border-radius: 3px;
      background-color: mix(white, black, 86%);
      cursor: pointer;
      color: $black;

      &:not(:last-child) {
        margin-right: 1ex;
      }

      &.selected {
        background-color: get-color('primary');
        @include z-depth-1;
      }
    }
  }
}

.matrix {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

table {
  font-family: $font;
  color: rgba(black, .87);

  tr:not(:first-child) {
    cursor: pointer;
  }

  tr:first-child td,
  tr td:first-child {
    @include td-label;

    &.highlight {
      color: get-color('primary') !important;
    }
  }

  td {
    @include square($size);
    text-align: center;
    margin: 1ex;
    border: solid 1px rgba(black, .04);

    &.no-edge {
      color: rgba(black, .3);
    }

    //&.mirror,
    &.this {
      color: get-color('accent');
      //font-weight: bold;
    }

    input {
      @include square($size);
      border: none;
      outline: none;
      text-align: center;
      padding: 0;
      margin: 0;
      font-family: $font;
      font-size: .86em;
      font-style: italic;
      color: $black;

      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }
}
